<%= @game.player1.name %> vs. <%= @game.player2.name %>
<br>
<%= @game.player2.name %> Hit Points: <%= @game.player2.hit_points %>

Current turn: <%= @game.current_turn.name %>'s turn
<form name='attack' action='/attack' method='post'>
  <input type='submit' value='Attack'>
</form>